<table>
    <thead>
      <tr>
        <th i18n="@@Id">ID</th>
        <th i18n="@@name">Name</th>
        <th i18n="@@position">Position</th>
        <th i18n="@@salary">Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.position }}</td>
        <td [appSalaryHighlight]="employee.salary">{{ employee.salary | currency }}</td>
      </tr>
    </tbody>
  </table>
  